---
import Section from "@components/sections/Section.astro";
---

<Section
  title="Solar y Powerwall"
  subtitle="Energía para todos"
  color="black"
  id="powerwall"
>
  <div slot="footer" class="gap-x-6 flex mx-auto">
    <a
      class="border-[3px] border-gray-800 bg-gray-800 text-sm rounded font-medium text-white px-16 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
      href="#"
    >
      Saber más</a
    >
    <!-- <a
      class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
      href="#"
    >
      Saber más</a
    > -->
  </div>

  <img
    slot="background"
    alt="Solar y Powerwall"
    class="h-full w-full object-cover object-center"
    src="powerwall.webp"
    id="bg-image-powerwall"
  />
</Section>

