---
//Sections
import HeroSection from "@components/sections/HeroSection.astro";
import ModelY from "@components/sections/ModelY.astro";
import Accessories from "@components/sections/Accessories.astro";
import LandingHeader from "@components/LandingHeader.astro";
import ModelS from "@components/sections/ModelS.astro";
import ModelThree from "@components/sections/ModelThree.astro";
import PowerWall from "@components/sections/PowerWall.astro";
import ModelX from "@components/sections/ModelX.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Tesla Motors">
  <LandingHeader />

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <ModelY />
    </div>
    <div class="snap-center">
      <ModelThree />
    </div>
    <div class="snap-center">
      <ModelS />
    </div>
    <div class="snap-center">
      <ModelX />
    </div>
    <div class="snap-center">
      <PowerWall />
    </div>
    <div class="snap-center">
      <Accessories />
    </div>
  </main>
</Layout>