---
import Layout from '../layouts/Layout.astro';
import LandingHeader from '../components/LandingHeader.astro'
import HeroSection from '../components/HeroSection.astro'
---

<Layout title="Tesla Motors">
	<LandingHeader/>
	<main>
		<HeroSection/>
		<HeroSection/>
		<HeroSection/>		
		<HeroSection/>
	</main>
</Layout>


