---
import Logo from './Logo.astro';
---
<header 
	id="landing-header"
	class="py-6 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-white" style="color: black;">
	<div class="flex flex-grow basis-0">
		<Logo/>
	</div>

	<nav>

	</nav>
	<nav>
		<ul class="flex text-sm [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2" >
			<li><a href="#">Model S</a></li>
			<li><a href="#">Model 3</a></li>
			<li><a href="#">Model X</a></li>
			<li><a href="#">Model Y</a></li>
			<li><a href="#">Model Powerwall</a></li>
			<li><a href="#">Model Carga</a></li>
		</ul>
	</nav>
	<nav class="flex flex-grow basis-0 justify-end">
		<ul class="flex text-sm [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
			<li><a href="#">Soporte</a></li>
			<li><a href="#">Tienda</a></li>
			<li><a href="#">Cuenta</a></li>
			<li><a href="#">Menú</a></li>
		</ul>
	</nav>
</header>

<script>
	const $header = document.querySelector('#landing-header') as HTMLElement; // El $ se usa para indicar que es un elemento del DOM

	// Usaremos un Intersection Observer
	const observerOptions = {
		root: null, 
		rootMargin: '0px',// En caunto se vea el elemento
		threshold: 0.90,// Porcentage de visibilidad
	}

	const observer = new IntersectionObserver(entries => {
		entries.forEach(entry =>{
			const { isIntersecting } = entry;
			if (isIntersecting) {
				const color = entry.target.getAttribute('data-header-color');
				$header.style.color = color
			}
		})
	}, observerOptions)

	const $sections = document.querySelectorAll('.landing-section');
	$sections.forEach(section => observer.observe(section))
</script>